#************************************************************************
# License		: LGPLv3
#
# Author		: Andreas Kaeberlein
# Email			: andreas.kaeberlein@web.de	
#
# File			: .gitignore.
#
# Description	: preserve files for repo check-in
#
# Sources		: https://git-scm.com/docs/gitignore
#
# on			: 2017-02-23
#************************************************************************



# Modelsim directory
# Exclude all subdirectories, f.e. compiled hdl code
#
04_sim/*
#


# Exceptions
#
!.gitignore.
!.gitconfig.
**/!.gitkeep.
#


# Quartus
#
10_fpga/db/
10_fpga/incremental_db/
10_fpga/simulation/
10_fpga/timing/
10_fpga/testbench/
10_fpga/*_sim/
10_fpga/incremental_db/
10_fpga/db/
10_fpga/output_files/
#
